<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Beer Recommender</title>
    <!-- Link to our stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Navbar -->
    <ul>
        <li class="page-title"><a href="/"><center>Craft Beer Recommender</center></a></li>
        <li style="float:right"><a href="#about">About</a></li>
        <li style="float:right"><a class="active" href="/">Home</a></li>
    </ul>
    <div class="content">
        <p><h2>We think you'd like a <b>{{ pred_style }}</b></h3></p>
        <br>
        <!-- Similar Beers -->
        <div style="overflow-x: auto;" id="same-style">
            <h2>Beers That Fit Your Style</h3>
            <table class="table">{{ top_5_same_style | safe }}</table>
        </div>
        <br></br>
        <div style="overflow-x: auto;" id="other-styles">
            <h2>Other Beers You Might Like</h3>
            <table class="table">{{ top_5_diff_style | safe }}</table>
        </div>
    </div>
</body>
</html>